html
{
	-webkit-font-smoothing: antialiased;
}

body 
{
	color: #FFFFFF;
	background-color: #333333;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 200;
	margin-top: 45px;
}

h1, h2
{
	text-align: center;
}

#map
{
	width: 800px;
	height: 450px;
	margin: 0 auto;
	margin-top: 5px;
}