body 
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    height: 100%;
}

#header
{
	background-color: #6E7184;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.65);
	color: #fff;
	padding-left: 15px;
	vertical-align: middle;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 21px;
	line-height: 40px;
	width: auto;
	height: 40px;
	position: relative;
	z-index: 5;
}

.settings-btn
{
	float: right;
	margin-top: 3px;
	margin-right: 5px;
}

.param-glyph
{
	margin: 3px -1px 0 0;
}

#blur-filter-checkbox
{
	margin-left: 4px;
	vertical-align: sub;
}

#map
{
	height: calc(100% - 40px);
	width: 100%;
	position: absolute;
}

#app-container
{
	position: absolute;
	width: auto;
	right: 0;
	height: calc(100% - 40px);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 15px;
	letter-spacing: 0.5px;
}

.map-panel
{
	background-color: #ececfb;
	color: #6c7184;
	margin-top: 20px;
	margin-right: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	position: relative;
	float: right;
	clear: both;
}

.settings-label
{
	margin-left: 2px;
}

.category-dropdown, .distance-input-container, .importance-dropdown, .distance-appendix-dropdown
{
	margin: 15px;
	float: left;
}

.distance-input-container, .distance-appendix-dropdown
{
	margin-left: 10px;
}

.importance-dropdown, .distance-appendix-dropdown
{
	margin-top: 7px;
}

.importance-dropdown, .add-btn
{
	clear: both;
}

.add-btn, .remove-btn
{
	width: 80px;
	margin: 15px;
	float: right;
}

.add-btn
{
	margin-left: 0px;
}

.category-dropdown-btn, .importance-dropdown-btn, .distance-appendix-dropdown-btn
{

	min-width: 120px;
	padding: 6px;
}

.distance-unit-dropdown-btn
{
	min-width: 43px;
	padding: 6px;
}

.distance-input-container
{
	width: 100px;
}

input {
   text-align:center;
}

.dropdown-menu
{
	min-width: 0px
}

.category-dropdown-menu
{
    max-height: 150px;
    width: 120px;
}

.caret
{
	float: right;
	margin-top: 8px;
	border-top-color: #585858;
	margin-right: 2px;
}

.selected-dropdown-value
{
	float: left;
}

.scrollable-menu {
    height: auto;
    overflow-x: hidden;
}

.scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;        
}  

.scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);        
}