<div id="<%= paramId %>" class="map-panel">

	<div class="dropdown category-dropdown">
		<p class="settings-label">Category</p>
		<button class="btn btn-default dropdown-toggle category-dropdown-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><%= selectedCategory %><span class="caret"></span>
		</button>
		<ul class="dropdown-menu scrollable-menu category-dropdown-menu">
			<%= categoryDropdownMenu %>
		</ul>
	</div>

	<div class="input-group distance-input-container">
		<p class="settings-label">Distance</p>
		<div class="input-group">
			<input type="text" class="form-control distance-input" aria-label="..." value="<%= distanceInputValue %>">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle distance-unit-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= selectedDistanceUnit %><span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right distance-unit-dropdown-menu">
					<li><a class="dropdown-menu-entry" href="#">m</a></li>
					<li><a class="dropdown-menu-entry" href="#">km</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="dropdown importance-dropdown">
		<p class="settings-label">Importance</p>
		<button class="btn btn-default dropdown-toggle importance-dropdown-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><%= selectedImportance %><span class="caret"></span>
		</button>
		<ul class="dropdown-menu importance-dropdown-menu">
			<li><a class="dropdown-menu-entry" href="#">Optional</a></li>
			<li><a class="dropdown-menu-entry" href="#">Default</a></li>
			<li><a class="dropdown-menu-entry" href="#">Very Important</a></li>
		</ul>
	</div>

	<div class="dropdown distance-appendix-dropdown">
		<p class="settings-label">Distance Appendix</p>
		<button class="btn btn-default dropdown-toggle distance-appendix-dropdown-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><%= selectedDistanceAppedix %><span class="caret"></span>
		</button>
		<ul class="dropdown-menu distance-appendix-dropdown-menu">
			<li><a class="dropdown-menu-entry" href="#">Maximal .. away</a></li>
			<li><a class="dropdown-menu-entry" href="#">At least .. away</a></li>
		</ul>
	</div>

	<p class="btn-primary btn add-btn"><%= addButtonName %></p>
	<p class="btn-primary btn remove-btn"><%= removeButtonName %></p>
</div>