<div id="parameter-settings-panel" class="panel">

	<div id="category-dropdown" class="dropdown">
		<p class="settings-label">Category</p>
		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Bakery 
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="category-dropdown">
			<li class="dropdown-header">Dropdown header</li>
			<li><a href="#">Action</a></li>
			<li><a href="#">Another action</a></li>
			<li><a href="#">Something else here</a></li>
			<li role="separator" class="divider"></li>
			<li class="dropdown-header">Dropdown header</li>
			<li><a href="#">Separated link</a></li>
		</ul>
	</div>

	<div id="distance-input" class="input-group">
		<p class="settings-label">Distance</p>
		<div id="distance-number-input" class="input-group">
			<input type="text" class="form-control" aria-label="...">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">m <span class="caret"></span></button>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a href="#">m </a></li>
					<li><a href="#">km </a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="importance-dropdown" class="dropdown">
		<p class="settings-label">Importance</p>
		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Default 
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="category-dropdown">
			<li><a href="#">Optional</a></li>
			<li><a href="#">Default</a></li>
			<li><a href="#">Very Important</a></li>
		</ul>
	</div>

	<div id="distance-appendix-dropdown" class="dropdown">
		<p class="settings-label">Distance Appendix</p>
		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Maximal .. away 
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="category-dropdown">
			<li><a href="#">Maximal .. away</a></li>
			<li><a href="#">At least .. away</a></li>
		</ul>
	</div>

	<p id="add-btn" class="btn-primary btn">add</p>
	<p id="cancle-btn" class="btn-primary btn">cancle</p>
</div>